# Virtual environment
retail/
venv/
.venv/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs
logs/
*.log

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Power BI cache
*.pbix.autosave

# PostgreSQL
*.db

# Python cache
.pytest_cache/